@using System.Text.Json
@using Radzen
@inject IJSRuntime JSRuntime
@inject Kmp.GlobalService GNav
<RadzenCard @attributes=@Attributes>
    <div class="console-header align-items-center">
        <RadzenButton Click=@OnSuchenClick Text="Suchen" ButtonStyle="ButtonStyle.Light" 
                      class="oi oi-magnifying-glass" />
        <RadzenButton Click=@OnRefreshClick Text="Aktualisieren" ButtonStyle="ButtonStyle.Light" 
                      class="oi oi-reload" style="padding-left: 10px" />

        <RadzenCheckBox @bind-Value=@GNav.showEventConsole Name="chbEventConsole" TValue="bool" Change=@(args => OnEventConsole(args, "chbEventConsole")) />
        <RadzenLabel Text="Protokoll" Component="chbEventConsole" Style="margin-left: 8px; vertical-align: middle;" />
    </div>
    <div class="console-content" id="global-navigator">
        <div class="console-message">
            <span class="console-message-text">@GNav.StatusText</span>
        </div>
    </div>
</RadzenCard>
@if (GNav.showEventConsole) {
    <EventConsole @ref=@GNav.console Class="mt-4" />
}

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> Attributes { get; set; }

    void OnSuchenClick()
    {
        GNav.SMess("Suchen");
        GNav.Kommando(Kmp.GlobalService.KommandoTyp.Suchen);
    }

    void OnRefreshClick()
    {
        GNav.Kommando(Kmp.GlobalService.KommandoTyp.Refresh);
    }

    protected override void OnInitialized()
    {
        GNav.OnStatusTextChange += StateHasChanged;  //build-in:Refresh
    }

    void OnEventConsole(bool value, string name)
    {
        GNav.showEventConsole = value;
        GNav.SMess($"{name} value changed to {value}");
    }
    
}